<div class="bg-black min-vh-100 d-flex justify-content-center align-items-center">
   <div class="card border-success mb-3 text-center bg-dark text-white" style="width: 50vw; height: 50vh;">
      <div class="card-header mb-5">Enter your detail</div>

      <div class="input-group mb-5">
         <span class="input-group-text" id="basic-addon1"><i class="fa fa-github"></i></span>
         <input type="text" class="input-css form-control " placeholder="Enter github user name i.e samar555" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-5">
         <span class="input-group-text"><i class="fa fa-calculator"></i></span>
         <input type="text" placeholder="No of views" class="input-css form-control" aria-label="Amount (to the nearest dollar)">
         <span class="input-group-text">.00</span>
      </div>

      <div class="text-center">
         <button class="btn btn-lg button"><i class="fa fa-telegram"> </i> submit</button>
      </div>
   </div>
</div>
