<footer class="bd-footer py-4 py-md-5  backgroung">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-white">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
                    aria-label="Bootstrap">
                    <img src="icn2.png" style="filter: invert(100%);" alt="">
                    <span class="fs-5 text-white">increase-view</span>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2">Designed and built with all the love in the world by the sachin mishra with the
                        help of w3 school.</li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Home</a></li>
                    <li class="mb-2"><a href="/increase-view">viewer</a></li>
                    <li class="mb-2"><a href="/examples/">Examples</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Guides</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a
                            href="https://github.com/samar555/github-view-increase/blob/main/README.md">Getting
                            started</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Projects</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://github.com/samar555/Image-to-text-Convertor" target="_blank"
                            rel="noopener">image to text convertor</a></li>
                    <li class="mb-2"><a href="https://github.com/samar555/whatsup-blaster" target="_blank"
                            rel="noopener">whats app Blaster</a></li>
                    <li class="mb-2"><a href="https://github.com/samar555/Telegram-bot-for-marketing" target="_blank"
                            rel="noopener">marketing bot</a></li>

                </ul>
            </div>

        </div>
    </div>
</footer>