<section>
    <div class="bg-color">
        <div class="section-background container">
            <span class=" btn-warning mt-3" ><a href="https://github.com/samar555/github-view-increase"
                    target="_blank" style="text-decoration: none; color: inherit"><img src="github.png" alt="" />visit
                    github for source code</a></span>
            <img src="eye.png" alt="" class="rotate-img" />
            <div class="text-gradient fw-semibold mb-3 text-center">
                <h1>Increase your github view</h1>
            </div>
            <div class="text-gradient text-center">
                <h1>with viewer</h1>
            </div>

            <p class="lead text-center">
                Powerful, extensible, and feature-packed frontend toolkit. Build and
                customize with Sass, utilize prebuilt grid system and components, and
                bring projects to life with powerful JavaScript plugins.
            </p>
            <div>
                <a href="https://www.github.com/samar555" target="_blank"><button style="font-weight: bold;" class="btn btn-gray me-2 mb-5">Git
                        Hub</button></a>
                <a href="/dashboared" target="_blank"><button class="btn btn-pink ms-2 mb-5 " style="font-weight: bold;">Get Started</button></a>
            </div>
        </div>
    </div>
    <div class="middle-page text-white pb-5">
        <div class="text-center">
            <h1 class="fw-semibold mb-3 text-gradient">Project Installation</h1>
        </div>
        <div class="container section-background-2">
            <div class="left">
                <h1 class="fw-semibold mb-3">Install Frontend</h1>
                <div class="card border-warning mb-3 bg-dark text-white" style="max-width: 50rem">
                    <div class="card-header"><i class="fa fa-github"> </i> Github</div>
                    <div class="card-body">
                        <h5 class="card-title">Install git in your computer</h5>
                        <p class="card-text">
                            <i class="fa fa-download"> </i> https://git-scm.com/downloads
                        </p>
                        <h5 class="card-title">Clone Repository</h5>
                        <p class="card-text">
                            <i class="fa fa-copy"></i>
                            <code>
                git clone
                https://github.com/samar555/github-view-increase.git</code>
                        </p>
                        <h5 class="card-title">Install Node js and Angular cli</h5>
                        <p class="card-text">
                            <i class="fa fa-download"> </i> https://nodejs.org/en/download
                        </p>
                        <p class="card-text">
                            <i class="fa fa-download"> </i><code> npm i angular/cli</code>
                        </p>
                        <h5 class="card-title">Add folder to IDE</h5>
                        <p class="card-text">
                            <i class="fa fa-code"> </i><code> ng serve --o</code>
                        </p>
                    </div>
                </div>
            </div>

            <div class="right">
                <h1 class="fw-semibold mb-3">Install Backend</h1>
                <div class="card border-warning mb-3 bg-dark text-white" style="max-width: 50rem">
                    <div class="card-header"><i class="fa fa-github"> </i> Github</div>
                    <div class="card-body">
                        <h5 class="card-title">Install git in your computer</h5>
                        <p class="card-text">
                            <i class="fa fa-download"> </i> https://git-scm.com/downloads
                        </p>
                        <h5 class="card-title">Clone Repository</h5>
                        <p class="card-text">
                            <i class="fa fa-copy"></i>
                            <code>
                git clone
                https://github.com/samar555/github-view-increase.git</code>
                        </p>
                        <h5 class="card-title">install Java js and Spring Tool Suit</h5>
                        <p class="card-text">
                            <i class="fa fa-download"> </i>
                            https://www.oracle.com/in/java/technologies/downloads/
                        </p>
                        <p class="card-text">
                            <i class="fa fa-download"> </i> https://spring.io/tools
                        </p>
                        <h5 class="card-title">Add folder to IDE and run project</h5>
                        <p class="card-text">
                            <i class="fa fa-code"> </i><code> Run</code>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-page pb-5">
        <div class="container">
                  <div class="text-center">
            <h1 class="fw-semibold mb-3 text-gradient">Support Me</h1>
        </div>
        <p class="text-center text-white">
            support me by giving star on
            <a href="https://www.github.com/samar555"><i class="fa fa-github"> </i> GitHub</a> and follow me on
            <a href="https://www.linkedin.com/in/sachin-mishra-java"><i class="fa fa-linkedin"> </i> linkedIn</a> and
        </p>
        <p class="text-center text-white container ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, vel
            facilis quae consequatur ut ratione, eaque eos unde necessitatibus
            corrupti molestiae consequuntur dolorem obcaecati atque praesentium saepe
            quas omnis alias. Excepturi, asperiores accusantium voluptatibus unde quam
            sint quis deleniti rerum harum magnam voluptate accusamus vel enim omnis
            aperiam temporibus magni. Soluta magni voluptatem debitis aperiam magnam,
            reprehenderit ut similique quidem? Eaque quae unde, dicta numquam culpa
            explicabo minima modi nobis labore veniam error aut reiciendis inventore!
            Nemo architecto modi ipsa sit quisquam ut possimus adipisci. Aperiam porro
            dolor iusto nemo. Accusantium nemo nam quas iste enim doloremque qui et
            quae. Dignissimos sequi repudiandae nam neque vitae ipsa consequuntur
            praesentium eum magnam, minus aut earum, deleniti fuga tenetur voluptates
            quas necessitatibus! Odit veritatis nemo illo accusamus assumenda sit odio
            sapiente dicta nostrum, provident voluptas vero tempora ad nesciunt
            reiciendis? Aperiam optio nesciunt voluptas dignissimos voluptate
            accusamus dolorum ab impedit rem eos. Quisquam ut cupiditate doloremque
            inventore autem! Praesentium nihil quibusdam perspiciatis, enim eligendi
            corporis, ut rerum tenetur nulla placeat ipsum eos aliquid reprehenderit
            esse eaque et mollitia? Quaerat corporis illo rem. Maxime consectetur
            molestiae, alias at illo eos laudantium! Iure tempore quod rerum sint
            recusandae commodi voluptatibus neque vel ipsam expedita! Corporis
            possimus fuga eaque adipisci laborum deleniti vitae quia maiores? Maxime
            consequuntur ratione quibusdam laudantium rerum? Doloribus quas quam
            labore voluptas placeat sed aut dignissimos hic, harum quibusdam facere at
            necessitatibus voluptates, vitae cupiditate sint eligendi ex iure dolores?
            Iste? Illum, omnis! Recusandae autem dignissimos repellendus, veritatis
            labore quos rem dolore, distinctio doloremque officia maxime, adipisci
            quas veniam quasi minus voluptate deserunt cum cupiditate debitis
            voluptatum odio ex. Ipsam, quaerat? Laboriosam minus corrupti explicabo
            fugiat eum ex neque corporis quisquam temporibus quam iure suscipit earum
            accusantium facere minima dolor iste aliquam, nisi, dicta atque
            perspiciatis nihil maxime facilis autem! Eum.
        </p>
    </div>
  
    </div>
</section>