<section >
    <div class="bg-color ">
    <div class="section-background container">
        <span class="btn btn-warning mt-3"><a href="https://github.com/samar555/github-view-increase" target="_blank"
                style="text-decoration: none; color: inherit"><img src="github.png" alt="" />visit github for source
                code</a></span>
        <img src="eye.png" alt="" class="rotate-img" />
        <h1>Increase your github view</h1>
        <h1>with viewer</h1>
        <p class="lead text-center">
            Powerful, extensible, and feature-packed frontend toolkit. Build and
            customize with Sass, utilize prebuilt grid system and components, and
            bring projects to life with powerful JavaScript plugins.
        </p>
        <div>
            <a href="https://www.github.com/samar555" target="_blank"><button class="btn btn-gray me-2 mb-5">Git Hub</button></a>
            <a href="/dashboared" target="_blank"><button class="btn btn-pink ms-2 mb-5">Get Started</button></a>
        </div>
    </div>
</div>
    <div class="middle-page text-white">
<div class="container section-background-2">
<div class="left"> 
<h1 class="fw-semibold mb-3">
    install frontend
</h1>
<div class="card border-warning mb-3 bg-dark text-white" style="max-width: 18rem;">
    <div class="card-header">Github</div>
    <div class="card-body">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

</div>
<hr class="vertical-line" />

<div class="right">
fsdf
</div>

</div>

    </div>
</section>